.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // This moves up the background-color so that there is no white wedge
  // 20vh = 95vh (Size of header section) - 75vh (Part clipped out of header)
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;

  // Move background up to try and avoid underlying non-grey section. This will not work if they change font-size
  // but calculating tan() at runtime using just css is a little complex so lets live with th fail scenario
  margin-top: -10rem;

  /*
   * skew the background
   */
  transform: skewy(-7deg) ;

  // Could also use selector "& > *" which would select any direct child
  // This would be useful if we ever changed the content but row is simpler
  .row {

    // revert background skew so contents look normal
    transform: skewy(7deg);
  }
}
