/* all elements including synthetic psuedo elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*
    inherited - ultimately from body.
    This is considered a better practice as a component and/or plugin can override the
    behaviour for an element. However to make this work we need to include pseudo elements
    in universal matcher
   */
  box-sizing: inherit;
}

html {
  /*
  Use 10 as font-size so that 1 rem is == 1rem and figuring out what you should
  change values to is easy as just divide by 10
  */
  /*font-size: 10px*/
;

  /*
   Instead of using fixed base font-size we can use a proportional size. That way if the user has increased the
   font-size (i.e. they are may have sight challenges) we are not overriding. Browsers normally have 16px as the
   default  font size and thus 100% == 16px and 62.5% == 10px.
   */
  font-size: 62.5%;
}

body {
  color: $color-grey-dark;

  /* white padding around entire web-page */
  padding: 3rem;
  box-sizing: border-box;
}
