.heading-primary {
  color: $color-white;
  /* Make sure all text is uppercase */
  text-transform: uppercase;

  margin-bottom: 6rem;

  /* this stops the shake at the end of the animation */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    padding-left: 3.5rem;
    text-align: center;
    animation-name: moveInLeft;
    /* runs animation for this amount of time */
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    padding-left: 1.74rem;
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
